temp/
settings_local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
*.pyc
tmp/*
*~
*.mo
vendor/*

log/*
.project
.pydevproject
.settings/*
.buildpath
.idea/*
.idea
lib-cov/
*.log
*.tap
python/tests/test-reports/
results/
