""" test_api_token_handling unit tests. For use from Aptana, the debug configuration must be of type "Python Unit Test" with
Main executable:
${workspace_loc:TriggeredMessagingV1/python/lib/tests/test_api_token_handling.py}

Copy this file to secrets.py and enter details from your dotMailer installation.
"""

class Secrets():
    api_username = "apiuser-a123454343@apiconnector.com" #  api username
    api_password = "1234567"
    campaign_id = 1234567 # a test campaign to be sent by the tests
    test_address ='test.mailings+unit_tests@yourdomain.none'
    address_book_id = 1234567 # comes from dotmailer UI, under Contacts, Edit Address Book. Look for the field with label "id"
        # must be an address book specially created for your test purposes, cannot use the built-in address books like "test"
    
    cp